@model PagedList.IPagedList<PortfolioProject.Models.Skill>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "SkillList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Yetenek Listesi İşlemleri</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Başlık</th>
        <th>Değer</th>
        <th>İkon</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SkillId</td>
            <td>@item.SkillName</td>
            <td>@item.Rate</td>
            <td>@item.Icon</td>
            @if (@item.Status == true)
            {
                <td><a href="/Skill/ChangeSkillStatusToFalse/@item.SkillId" class="btn btn-outline-danger">Pasif Yap</a></td>
            }
            else
            {
                <td><a href="/Skill/ChangeSkillStatusToTrue/@item.SkillId" class="btn btn-outline-success">Aktif Yap</a></td>
            }
            <td><a href="/Skill/DeleteSkill/@item.SkillId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Skill/UpdateSkill/@item.SkillId" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/Skill/CreateSkill/" class="btn btn-info">Yeni Yetenek Girişi</a>
<br />
<div></div>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("SkillList", new {sayfa}), new PagedListRenderOptions
{
    LiElementClasses = new List<string>
    {"page-link"}
})
